<div class="container-fluid section-title-bg" id="about">
<div class="container section-title-bg-img">
<div class="container section-title">
<div class="row-fluid">
    <div class="span12">
        <span class="title title-about"></span>
    </div>
</div>
</div>
</div>
</div>

<div class="container-fluid">
<div class="container section-container">
<div class="row">
<div class="span12">
    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="span6">
                    <div class="border-bg">
                        <div class="border-bg-mask border-bg-mask-c">
                            <div class="border-h-bg border-h-bg-c"><h3>L'association</h3></div>
                            <p class="text-justify"><span class="style10">Lightprod</span> est le nom "commercial" de Pixefilm, association de créaion audiovisuelle fournissant divers services dans le domaine du son (soirée, compositions, habillages musicaux...) pour particuliers et professionnels.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <div class="border-bg">
                        <div class="border-bg-mask border-bg-mask-c">
                            <div class="border-h-bg border-h-bg-c"><h3>Actualité musicale</h3></div>
                            <dl>
                                <dt>2012</dt>
                                <dd><ul class="unstyled">
                                    <li><span>17/11</span> - <em>Soirꥠprivꥼ/em> - Chartres (28)</li>
                                    <li><span>3/11</span> - <em>Soirꥠprivꥼ/em> - Orlꢮs (45)</li>
                                    <li><span>20/10</span> - <em>Anniversaire</em> - Elancourt (78)</li>
                                    <li><span>6/10</span> - <em>Soirꥠprivꥼ/em> - Chartres (28)</li>
                                    <li><span>6/07</span> - <em>Soirꥠprivꥼ/em> - Maison Alfort (94)</li>
                                    <li><span>7/07</span> - <em>Anniversaire</em> - Cergy (95)</li>
                                    <li><span>13/07</span> - <em>Mariage</em></li>
                                    <li><span>21/07</span> - <em>Mariage</em></li>
                                </ul></dd>
                                <dt>2011</dt>
                                <dd><ul class="unstyled">
                                    <li><span>16/10</span> - <em>Gala UVSQ</em></li>
                                </ul></dd>
                            </dl>
                            <div class="more-shows">
                            <div class="more-shows-title">Afficher plus...</div>
                            <dl class="hide shows-list">
                                <dt>2007</dt>
                                <dd><ul class="unstyled">
                                    <li><span>27/01</span> - <em>Anniversaire</em> - Meulan (78)</li>
                                    <li><span>26/01</span> - <em>Soirꥠentreprise</em> - Igny-sur-Marne (77)</li>
                                    <li><span>20/01</span> - <em>Anniversaire</em> - Saint Rꮹ l'Honor頨78)</li>
                                </ul></dd>
                                <dt>2006</dt>
                                <dd><ul class="unstyled">
                                    <li><span>20/12</span> - <em>Soirꥼ/em> - Paris 11&egrave;me (75)</li>
                                    <li><span>14/12</span> - <em>Soirꥠentreprise</em> - Montigny-le-Bretonneux (78)</li>
                                    <li><span>02/12</span> - <em>Anniversaire</em> - Issou (78)</li>
                                    <li><span>12/11</span> - <em>Anniversaire</em> - Argenteuil (95)</li>
                                    <li><span>20/10</span> - <em>Gala Supelec</em> - Gif-sur-Yvette (91)</li>
                                    <li><span>14/10</span> - <em>Anniversaire</em> - Chauffry (77)</li>
                                    <li><span>30/09</span> - <em>Mariage</em> - Cormeilles en Parisis (95)</li>
                                    <li><span>23/09</span> - <em>Anniversaire</em> - Thiverval (78)</li>
                                    <li><span>16/09</span> - <em>Bapt&ecirc;me</em> - La Courneuve (93)</li>
                                    <li><span>15/09</span> - <em>Anniversaire</em> - Maison Alfort (94)</li> 
                                    <li><span>08/07</span> - <em>Mariage</em> - <em>Trianon-Palace</em> - Versailles (78)</li>
                                    <li><span>25/04</span> - <em>Soirꥠprivꥼ/em>&nbsp;:  pub/restaurant <em>Les Imp곩ales</em> - Rambouillet (78)</li>
                                    <li><span>14/04</span> - <em>So fresh 4</em> : soirꥠꭥctro aux cot고d'Arno Cost (Freshmakers), Muttonheads et Mathieu  Bouthier (r괩dent radio FG) - Courtaboeuf (91)</li>
                                    <li><span>08/04</span> - <em>To&nbsp;Be  Stuffed</em>&nbsp;: soirꥠprivꥠ- Moulin de Gambais (78)</li>
                                </ul></dd>
                                <dt>2005</dt>
                                <dd><ul class="unstyled">
                                    <li><span>25/05</span> - <em>Soirꥠprivꥼ/em> - Maurepas (78)</li>
                                    <li><span>28/05</span> - <em>So fresh 3</em>&nbsp;:  soirꥠꭥctro aux cot고de Muttonheads (r괩dent radio FG) - Courtaboeuf (91)</li>
                                    <li><span>05/03</span> - <em>Discoth&egrave;que</em> <em>La</em> <em>M꭯die</em> - Rambouillet (78)</li>
                                </ul></dd>
                                <dt>2004</dt>
                                <dd><ul class="unstyled">
                                    <li><span>31/12</span> - <em>Discoth&egrave;que</em> <em>La Scatola</em>&nbsp;- St Cyprien (66)</li>
                                    <li><span>10/11</span> au <span>15/11</span> - Dj  de l&rsquo;ꮩssion "&nbsp;<em>Cult</em>&nbsp;" sur France 5 - Paris (75)</li>
                                    <li><span>02/07</span> - <em>So Fresh 2</em> : soirꥠgꯩraliste&nbsp;- Boullay-les-troux (91)</li>
                                </ul></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="border-bg">
                <div class="border-bg-mask border-bg-mask-c">
                    <div class="border-h-bg border-h-bg-c"><h3>Qui ?</h3></div>
                    <div class="bio-title">Crey Zippy <small>(Jean-Patrick Mulon)</small></div>
                    <p class="text-justify">Crey Zippy exerce ses activités depuis 1998. Perfectionnant continuellement son art, il a suivi de nombreuses formations sous l'égide de grands Djs. Organisateur de nombreuses soirées, résident ou formateur, il en maîtrise chaque aspect. Au total, Crey Zippy possède à son actif plus de 300 soirées privées et plus de 150 soirées en discothèque.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>