$def with (board_id, id, form)

$:render_part.header()

<div class="container">
	<div class="row">
		<div class="span3">
			<div class="pull-left"><a href="/board/$board_id/" class="btn"><i class="icon-arrow-left"></i> Back</a></div>
		</div>
		<div class="span6">
			<div class="edit-container">
				<h1 class="edit-title">Delete task list</h1>
				<form action="/board/$board_id/tasklist/$id/delete/" method="post">
					Are you sure ? All associated cards will be deleted too. $:form.delete.render()
				</form>
			</div>
		</div>
	</div>
</div>

$:render_part.footer()